<!DOCTYPE html>
<html>
  <head>
    <title>Byron</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://cdn.rawgit.com/knsv/mermaid/8e050d422371817d226053e00859f9702a298d23/dist/mermaid.full.min.js"></script>
  </head>

  <body>

    <h1>Byron</h1>

    <form method="get">
      <input type="text" name="sentence" value="<%= sentence %>">
    </form>

    <div class="mermaid">
      <%= mermaid %>
    </div>

  </body>
</html>


